extends layout

block scripts
    link(rel="stylesheet",
        href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css",
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU",
        crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.1.min.js",
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2",
        crossorigin="anonymous")
    script(
        src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js",
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD",
        crossorigin="anonymous")

block content
    #games-container
        #games-container-title-area
            #title CheSSE
            hr
            #subtitle Chess Similarity Search Engine
        #games-container-board-area
            #position-board
        #games-container-position-stats-area 
            p #{position.stats.nrGames} games found
            p Rating: #{position.stats.rating.min} min, #{position.stats.rating.avg} avg, #{position.stats.rating.max} max
            p Win rate: #{Math.round(position.stats.result.whiteWinPct * 100) / 100}% white, #{Math.round(position.stats.result.drawPct * 100) / 100}% draw, #{Math.round(position.stats.result.blackWinPct * 100) / 100}% black
        #games-container-games-list-area
            table(cellspacing="0")#games-table
                tr 
                    th WHITE
                    th BLACK
                    th EVENT
                    th DATE 
                    th RD
                    th RES
                    th # MVS
                each game in games
                    tr(data-href=`/games/${encodeURIComponent(game.id)}`).clickable-row.game-item
                        td #{game.white.name} (#{game.white.elo})
                        td #{game.black.name} (#{game.black.elo})
                        td #{game.context.event}
                        td #{game.context.date}
                        td #{game.context.round}
                        if game.result == 1
                            td 1-0
                        else if game.result == 0.5
                            td 1/2
                        else if game.result == 0
                            td 0-1
                        else 
                            td N/A
                        td #{Math.round(game.moves.length/2)}
    script.
        var board_config = {
            pieceTheme: 'images/chesspieces/default/{piece}.png',
            position: "#{position.fenEncoding}"
        };
        Chessboard("position-board", board_config);
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
