extends layout

block scripts
    link(rel="stylesheet",
        href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css",
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU",
        crossorigin="anonymous")
    script(
        src="https://code.jquery.com/jquery-3.5.1.min.js",
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2",
        crossorigin="anonymous")
    script(
        src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js",
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD",
        crossorigin="anonymous")
    script(type="module", src="/javascripts/search.js")

block content
    header
        a.sitename(href="/") CheSSE
            span.domain(href="/") .io
    .search-results-container
        .title-item
            #title CheSSE
            #subtitle Chess Similarity Search Engine
        .search-board-item
            #query-board
        .search-results-item
            - var i = 0
            each position in positions
                - i++
                - var k = "board" + i
                .search-result
                    a(href=`/games?fen=${position.fen}`)
                        div(id=k, style="width: 300px").result-board
                    .result-stats
                        p #{position.stats.nr_games} games found
                        p Rating: #{position.stats.rating.min} min, #{position.stats.rating.avg} average, #{position.stats.rating.max} max
                        p Win rate: #{position.stats.result.white}% white, #{position.stats.result.draw}% draw, #{position.stats.result.black}% black
                script.
                    var board_config = {
                        pieceTheme: 'images/chesspieces/default/{piece}.png',
                        position: "#{position.fen}",
                        showNotation: false
                    };
                    Chessboard("board#{i}", board_config);
                    console.log("board#{i}");
                    console.log("#{position.fen}");
    footer
        .credits &copy; Mihai Ionut Deaconu 
            script.
                document.write(/\d{4}/.exec(Date())[0])
    script.
        var board_config = {
            pieceTheme: 'images/chesspieces/default/{piece}.png',
            position: "#{fen}",
            showNotation: false
        };
        Chessboard("query-board", board_config);
