extends layout

block scripts
    link(rel="stylesheet",
        href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css",
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU",
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js",
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2",
        crossorigin="anonymous")
    script(src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js",
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD",
        crossorigin="anonymous")
    script(src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js",
        integrity="sha384-+83ma0Y8eQWtTIhmx2gjueu3BY0XU4gX4EkL12u3M+WPc4SDskKaIpIL7QiB8ikh"
        crossorigin="anonymous")

block content
    .positions-page-grid
        .positions-page-grid__title
            include includes/title.pug
        .positions-page-grid__side-board
            #side-board
        .positions-page-grid__search-results
            each position in positions
                include includes/uuid.js.pug
                - var uuid = createUUID()
                - var resultBoardId = `result-board-${uuid}`
                a(href=`/games?fen=${position.fenEncoding}`).search-result
                    div(id=resultBoardId).result-board
                    .result-stats
                        p #[strong #{position.stats.nrGames}] games found
                        p Rating: #{position.stats.rating.min} min, #{position.stats.rating.avg} avg, #{position.stats.rating.max} max
                        p Win rate: #{Math.round(position.stats.result.whiteWinPct * 100) / 100}% white, #{Math.round(position.stats.result.drawPct * 100) / 100}% draw, #{Math.round(position.stats.result.blackWinPct * 100) / 100}% black
                    script.
                        var board_config = {
                            pieceTheme: 'images/chesspieces/default/{piece}.png',
                            position: "#{position.fenEncoding}",
                            showNotation: false
                        };
                        Chessboard("#{resultBoardId}", board_config);
    script.
        Chessboard("side-board", {
            pieceTheme: 'images/chesspieces/default/{piece}.png',
            position: "#{queryFenEncoding}"
        });

        $('#search-container-search-results-area').infiniteScroll({
            path: function() {
                return `/search?fen=#{queryFenEncoding}&token=#{nextPageToken}`;
            },
            append: '.search-result',
            history: false,
        });
